* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("https://res.cloudinary.com/dpn6ltns1/image/upload/v1591879510/Project%20images/tamas-tuzes-katai-WPGyHNq1lCE-unsplash_c7dhjx.jpg");
    background-size: cover;
    font-family: 'Roboto Slab', serif;
}

.banner {
    display: flex;
    height: 100vh;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner h1 {
    margin: 25px;
    font-family: 'Balsamiq Sans', cursive;
}

.banner h4 {
    margin: 25px;
    font-style: italic;
    font-size: 16px;
}

nav h3 {
    display: none;
}

#contentbox1 img {
    margin: 10px;
    height: 100px;
    border: 2px solid gray;
    border-radius: 50%;
}

#contentbox1 {
    display: flex;
    margin: 25px;
    padding: 15px;
    color: white;
    background-color: rgba(0,0,0,.4);
    border: 1px solid gray;
    border-radius: 15px;
}

#contentbox1 span {
    font-size: 24px;
    font-family: 'Balsamiq Sans', cursive;
}

#contentbox2 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

#contentbox2 h2 {
    margin: 25px;
    padding: 15px;
    font-family: 'Balsamiq Sans', cursive;
    width: 50%;
    color: white;
    background-color: rgba(0,0,0,.4);
    border: 1px solid gray;
    border-radius: 15px;
}

.project-card {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 1.5em;
    margin: 25px 10px 50px 10px;
    
    padding: 15px;
    width: 300px;
    height: 400px;
    color: white;
    background-color: rgba(0,0,0,.4);
    border: 1px solid gray;
    border-radius: 15px;
    border: 1px solid gray;
}

.project-image {
    position: relative;
    width: 275px;

}

.project-desc {
    font-family: 'Roboto Slab', serif;
    font-size: 0.75em;
}

.project-link {
    background-color: black;
    width: 30%;
    border-radius: 15px;
}

footer {
    background-color: #F1F0EC;
    margin-top: 15px;
    padding: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column: 1/5;
}

.sociallinks {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 40px;
    font-size: 30px;
}

@media only screen and (min-width: 768px) {
    
    body{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
    }

    .banner {
        grid-column: 1/5;
        height: 95vh;
        justify-content: center;
        align-items: center;
    }

    nav {
        grid-column: 1/5;
    }

    nav h3 {
        margin: 10px;
        display: flex;
    }

    nav a {
        margin-right: 15px;
    }
    nav .fixed-bottom {
        display: none;
    }

    .content {
        grid-column: 1/5;
        display: flex;
        flex-wrap: wrap;
    }

    #contentbox1 img {
        height: 150px;
    }

    #contentbox1 {
         display: flex;
    }

    #contentbox2 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #contentbox2 h2 {
        width: 25%;
    }

    #contentbox2-portfolio {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    footer {
        flex-direction: row;
        justify-content: space-between;
        grid-column: 1/5;
    }

    .form-control {
        border-color: black;
    }

    .sociallinks {
        padding-bottom: 0;
    }
}   

@media only screen and (min-width: 1200px) {

    .banner {
        justify-content: flex-start;
    }

    nav h3 {
        font-weight: bold;
        text-shadow: 2px 2px black;       
    }

    #contentbox2 h2 {
        width: 20%;
    }
}